body {
    background-color: lightgray;
}

.container {
    margin-top: 100px;
    padding: 100px;
    background-color: #fff;
}

.product-results {
    padding-top: 20px;
    padding-bottom:20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 10px;
    border: 1px solid #000;
}

.product-results img {
    margin-top:10px;
    margin-bottom:10px;
}
