body {
    background-color: lightgray;
}

.container {
    margin-top: 100px;
    padding: 100px;
    background-color: #fff;
}

.product-results {
    padding-top: 10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.product-results img {
    margin-top:10px;
    margin-bottom:10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}