            <div class="product-results row">
                <div class="col">
                    <h2>{{ item.title }}</h2>
                    <img src="{{ item.img_sml }}" width="200">
                     <p>Destination: {{ item.dest }}</p>
                </div>
            </div>